@media (max-width: 1280px) {
    body {
        background-color: grey;
    }
    .article:only-child {
        img {
            width: 55%;
            margin-right: 32px;
        }
        .content-text {
            width: 40%;
        }
    }
    .article:not(:only-of-type) img {
        margin-bottom: 20px;
    }
    .time-publication {
        margin-top: 12px;
    }
    .side-links {
        width: 100%;
    }
    .copyright {
        margin-top: 40px;
    }
}
@media (max-width: 1024px) {
    body {
        background-color: rgb(162, 162, 250);
    }
    .article:only-child {
        margin-top: 32px;
        flex-direction: column;
        img {
            width: 100%;
            margin-right: 0;
        }
        .content-text {
            margin-top: 16px;
            width: 100%;
        }
    }
    .menu-icon {
        display: flex;
    }
    .nav-header {
        div {
            margin-right: 30px;
            &:hover {
                color: #fff;
            }
            &:not(.menu-icon) {
                display: none;
            }
        }
    }
}
@media (max-width: 768px) {

}
@media (max-width: 480px) {

}