@import "colors";

/* zeroing */
* {padding: 0; margin: 0; border: 0;}
*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body {height: 100%; width: 100%; font-size: 100%; line-height: 1; font-size: 14px; -ms-text-size-adjust: 100%;}
input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: inherit;}
/* end zeroing */

* {
  font-family: "Open Sans", sans-serif;
  color: $text-color;
}
body {
  background-color: #fff;
}
.wrapper-block {
  width: 73%;
  margin: 0 auto;
}
/* ============== Header ============== */
.menu {
  display: flex;
  padding-top: 45px;
  width: 100%;
  justify-content: space-between;
  font-style: normal;
  li {
    position: relative;
  }
}
.side-header {
  align-items: center;
  display: flex;
  font-size: 48px;
  line-height: 65px;
}
.menu__link {
  display: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.8px;
  background-color: $orange;
  padding: 15px 33px;
  color: #fff;
  margin-top: 7px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}
.drop-arrow {
  margin-left: 10px;
  width: 22px;
  height: 20px;
  filter: invert(100%);
}
.sub-menu__list {
  padding-top: 15px;
  display: flex;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.8px;
}
.sub-menu__list li {
  margin-right: 65px;
  text-align: center;
  align-self: center;
}
.sub-menu__list a:hover {
  color: $orange;
}
.sub-menu__list li:last-child {
  margin-right: 0;
  background-color: rgba(62, 62, 66, 0.64);
  padding: 15px 32px;
  border-radius: 25px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  a {
    color: #fff;
  }
}
.sub-menu__list li:last-child:hover {
  background-color: $orange;
}
/* ============== Click on .menu__link ==============*/
.menu__list__active {
  display: flex;
}
.menu__list__active>li .sub-menu__list__active {
  display: block;
}
.menu__link__active {
  color: red;
  display: flex;
}
.sub-menu__list__active {
  min-width: 209.4px;
  position: absolute;
  left: 0;
  top: 35px;
  padding: 20px 0px 0px 0px;
}
.sub-menu__list__active>li {
  background-color: #fff;
  color: $orange;
}
.sub-menu__list__active>li:hover a {
  color: $orange;
}
.sub-menu__list__active li:last-child {
  width: 144.27px;
  margin-right: 0;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 0px;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));
  a {
    color: #000;
  }
}
.sub-menu__link__active {
  color: green;
  display: inline-block;
  padding: 5px 10px;
}
/* ============== Main content ============== */
.content-block {
  display: flex;
  padding-bottom: 32px;
  border-bottom: 1px solid $grey;
  margin-bottom: 32px;
}
.article {
  display: flex;
  img {
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
  }
  .content-text {
    h2 {
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      color: $orange;
      letter-spacing: 0.5px;
    }
    h1 {
      font-weight: 600;
    }
    p {
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 0.5px;
      &.time-publication {
        display: flex;
        margin-top: 25px;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.5px;
        color: $grey;
      }
    }
  }
}
.article:only-child {
  width: 100%;
  margin-top: 64px;
  align-items: center;
  img {
    width: 60%;
    margin-right: 55px;
  }
  .content-text {
    width: 30%;
    h1 {
      margin: 8px 0 16px 0;
      font-size: 32px;
      line-height: 42px;
      letter-spacing: 1.33333px;
    }
  }
}
.article:not(:only-of-type) {
  margin-right: 32px;
  flex-direction: column;
  img {
    width: 100%;
    margin-bottom: 32px;
  }
  .content-text {
    width: 100%;
    h1 {
      margin: 12px 0 8px 0;
      font-size: 24px;
      line-height: 34px;
      letter-spacing: 0/9px;
    }
  }
}
.article:not(:only-of-type):last-child {
  margin-right: 0px;
}
.article:nth-last-child(3):first-child,
.article:nth-last-child(3):first-child ~ .article {
  width: 33%;
}
.article:nth-last-child(2):first-child,
.article:nth-last-child(2):first-child ~ .article {
  width: 50%;
}
/* ============== Footer ============== */
.more-info {
  display: flex;
  .partition {
    h1 {
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #5a606c;
      font-style: normal;
      font-size: 14px;
      line-height: 22px;
    }
    p {
      margin-top: 24px;
      font-weight: normal;
      color: #59606d;
      font-style: normal;
      font-size: 14px;
      line-height: 22px;
    }
    p:hover {
      cursor: pointer;
      color: $text-color;
    }
  }
}
.side-links {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.copyright {
  float: right;
  color: #5a606c;
  padding-bottom: 32px;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
}

@import "media";
